#map {
	width: 100%;
	height: 600px;
}

#hispanic_map_slidercontainer {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1000;
}

#hispanic_map_slider{
  font-size:62.5%;
  margin: 14px;
  height: 125px;
  width:7px;
}